html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.param-sprite, section .phone-parameters .phone-display i, section .phone-parameters .phone-camera i, section .phone-parameters .phone-disk i {
  background-image: url('/img/param-s10d5df5fd1.png');
  background-repeat: no-repeat;
}

body {
  background: #BFBFBF;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

header {
  padding: 15px 0;
  text-align: center;
}
header h1 {
  display: block;
  font-size: 2em;
}

section article {
  border-bottom: 1px solid #9D9D9D;
  padding: 15px 0;
}
section .phone-img img {
  max-width: 100%;
}
section .phone-info h2 {
  font-size: 1.6em;
  color: #008ACC;
  margin-bottom: 12px;
}
section .phone-info p {
  line-height: 1.2em;
  color: #464646;
}
section .phone-parameters .phone-display {
  margin-bottom: 12px;
}
section .phone-parameters .phone-display i {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/param-s10d5df5fd1.png);
  background-position: 0 -64px;
  height: 32px;
  width: 32px;
  float: left;
}
section .phone-parameters .phone-display p {
  float: left;
  margin-left: 12px;
  padding-top: 10px;
}
section .phone-parameters .phone-camera {
  margin-bottom: 12px;
}
section .phone-parameters .phone-camera i {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/param-s10d5df5fd1.png);
  background-position: 0 0;
  height: 32px;
  width: 32px;
  float: left;
}
section .phone-parameters .phone-camera p {
  float: left;
  margin-left: 12px;
  padding-top: 10px;
}
section .phone-parameters .phone-disk {
  margin-bottom: 12px;
}
section .phone-parameters .phone-disk i {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/param-s10d5df5fd1.png);
  background-position: 0 -32px;
  height: 32px;
  width: 32px;
  float: left;
}
section .phone-parameters .phone-disk p {
  float: left;
  margin-left: 12px;
  padding-top: 10px;
}
section .phone-disk__plus {
  font-size: 0.9em;
}
section .phone-price p {
  font-size: 1.6em;
  color: #008ACC;
}

footer {
  padding: 7px 0;
  text-align: center;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer h1 {
  display: block;
  font-size: 1.5em;
}

.ui-mobile .ui-page-active {
  overflow-x: visible;
}
