
@import "compass/reset";
@import "compass/utilities/sprites";
@import "param/*.png";

body{
	background: #BFBFBF;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
header{
	padding: 15px 0;
	text-align: center;
	h1{
		display: block;
		font-size: 2em;
	}
}
$param-sprite-dimensions: true;
section{
	article{
		border-bottom: 1px solid #9D9D9D;
		padding: 15px 0;
	}
	.phone-img{
		img{
			max-width: 100%;
		}
	}
	.phone-info{
		h2{
			font-size: 1.6em;
			color: #008ACC;
			margin-bottom: 12px;
		}
		p{
			line-height: 1.2em;
			color: #464646;
		}
	}

	.phone-parameters{
		@each $item in 'phone-display', 'phone-camera', 'phone-disk'{
			.#{$item}{
				margin-bottom: 12px;
				i{
					display: block;
					width: 32px;
					height: 32px;
					background: url(../img/param-s10d5df5fd1.png);
					@include param-sprite(#{$item});
					float: left;
				}
				p{
					float: left;
					margin-left: 12px;
					padding-top: 10px;
				}
			}
		}
	}
	.phone-disk__plus{
		font-size: 0.9em;
	}
	.phone-price{
		p{
			font-size: 1.6em;
			color: #008ACC;
		}
	}
}
footer{
	padding: 7px 0;
	text-align: center;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	h1{
		display: block;
		font-size: 1.5em;
	}
}
.ui-mobile .ui-page-active{
	overflow-x: visible;
}