/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 6, ../sass/style.scss */
.listMenu li {
  list-style: none;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
/* line 12, ../sass/style.scss */
.listMenu li img {
  width: 100%;
}
/* line 15, ../sass/style.scss */
.listMenu li h2 {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1.5em;
}
/* line 24, ../sass/style.scss */
.listMenu li p {
  position: absolute;
  bottom: 20px;
  right: 5px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 3px;
}

/* line 36, ../sass/style.scss */
.btn.btn-warning:focus {
  box-shadow: none;
  border: none;
  outline: 0 none;
}

/* line 42, ../sass/style.scss */
a.btn.btn-warning {
  margin-top: 7px;
  font-weight: normal;
  width: 100%;
}

/* line 47, ../sass/style.scss */
.ui-content {
  padding-top: 0;
}

/* line 50, ../sass/style.scss */
.itemPage__header,
.ui-header .ui-title,
.ui-footer .ui-title {
  padding: 9px;
  font-size: 1.3em;
}
/* line 55, ../sass/style.scss */
.itemPage__header .btn-cart,
.ui-header .ui-title .btn-cart,
.ui-footer .ui-title .btn-cart {
  margin-top: 5px;
  padding-left: 2px;
}
/* line 58, ../sass/style.scss */
.itemPage__header .btn-cart p,
.ui-header .ui-title .btn-cart p,
.ui-footer .ui-title .btn-cart p {
  float: left;
  padding: 2px 6px;
  background: #f0ad4e;
  border-radius: 50%;
  position: relative;
  left: 4px;
  top: -4px;
}

/* line 69, ../sass/style.scss */
.item-top {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
/* line 73, ../sass/style.scss */
.item-top img {
  width: 100%;
}
/* line 76, ../sass/style.scss */
.item-top p {
  position: absolute;
  bottom: 20px;
  right: 5px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 3px;
}

/* line 87, ../sass/style.scss */
.discription {
  padding: 20px;
  line-heighat: 1.2;
}

/* line 92, ../sass/style.scss */
.countItem li {
  float: left;
  padding: 4px 7px;
  font-size: 1.2em;
  border: 2px solid #ed9c28;
  margin-right: 7px;
  cursor: pointer;
}
/* line 99, ../sass/style.scss */
.countItem li.active {
  background: linear-gradient(bottom, #C0C0C0 0%, #DADADA 100%);
  border: 2px solid #A2A2A2;
}
/* line 103, ../sass/style.scss */
.countItem li:hover {
  background: linear-gradient(bottom, #C0C0C0 0%, #DADADA 100%);
  border: 2px solid #A2A2A2;
}

/* line 110, ../sass/style.scss */
.cartList .cart-item {
  border-bottom: 1px dashed #e9e9e9;
  padding: 12px 0;
}
/* line 114, ../sass/style.scss */
.cartList h3 {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 119, ../sass/style.scss */
.cartList .cart-item-wrap {
  margin-bottom: 10px;
}
/* line 122, ../sass/style.scss */
.cartList .item-edit {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
/* line 127, ../sass/style.scss */
.cartList .item-price {
  float: right;
}
/* line 131, ../sass/style.scss */
.cartList .cart-item-modif p {
  padding: 5px 20px;
}
/* line 134, ../sass/style.scss */
.cartList .cart-item-modif .modif-name {
  float: left;
  margin-left: 10px;
}
/* line 138, ../sass/style.scss */
.cartList .cart-item-modif .modif-price {
  float: right;
  padding-right: 32px;
  margin-top: 10px;
}

/* line 145, ../sass/style.scss */
.items-amout {
  margin-top: 10px;
  padding: 12px 10px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  font-size: 1.3em;
  background: #fff;
}
